.themify_builder_19_row.module_row_0.module_row{background-repeat: repeat;background-attachment: scroll;background-position: center center}
.themify_builder .text-19-0-0-0.module-text{background-repeat: repeat}
.themify_builder_19_row.module_row_1.module_row{background-repeat: repeat;background-attachment: scroll;background-position: center center}
.themify_builder .text-19-1-0-0.module-text{background-repeat: repeat}
.sub_column_post_19.sub_column_1-0-1-0.module_column{background-repeat: repeat;background-attachment: scroll;background-position: center center}
.themify_builder .icon-19-sub_row_1-0-1-0-0 div.module-icon{background-repeat: repeat}
.themify_builder .text-19-sub_row_1-0-1-0-1.module-text{background-repeat: repeat}
.sub_column_post_19.sub_column_1-0-1-1.module_column{background-repeat: repeat;background-attachment: scroll;background-position: center center}
.themify_builder .icon-19-sub_row_1-0-1-1-0 div.module-icon{background-repeat: repeat}
.themify_builder .text-19-sub_row_1-0-1-1-1.module-text{background-repeat: repeat}
.sub_column_post_19.sub_column_1-0-1-2.module_column{background-repeat: repeat;background-attachment: scroll;background-position: center center}
.themify_builder .icon-19-sub_row_1-0-1-2-0 div.module-icon{background-repeat: repeat}
.themify_builder .text-19-sub_row_1-0-1-2-1.module-text{background-repeat: repeat}
