.themify_builder_17_row.module_row_0.module_row{background-repeat: repeat;background-attachment: scroll;background-position: center center}
.themify_builder .text-17-0-0-0.module-text{background-repeat: repeat}
.themify_builder_17_row.module_row_1.module_row{background-repeat: repeat;background-attachment: scroll;background-position: center center}
.themify_builder .text-17-1-0-0.module-text{background-repeat: repeat}
.themify_builder .text-17-1-0-1.module-text{background-repeat: repeat}
.themify_builder .text-17-1-0-2.module-text{background-repeat: repeat}
.module_row_1 .module_column_1.tb_17_column.module_column{background-repeat: repeat;background-attachment: scroll;background-position: center center}
.themify_builder .text-17-1-1-0.module-text{background-repeat: repeat}
.themify_builder .plain-text-17-1-1-1.module-plain-text{background-repeat: repeat}
.themify_builder_17_row.module_row_2.module_row{background-repeat: repeat;background-attachment: scroll;background-position: center center}
.themify_builder .plain-text-17-2-0-0.module-plain-text{background-repeat: repeat}
