html body {
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.8;
}
body #headerwrap {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10;
  border-top: 1px solid #FFBC13;
  background: #fff;
}
body #headerwrap #header {
  height: auto;
  border-bottom: 0;
}
hgroup {
  padding: 5px 20px 5px 0;
  overflow: hidden;
}
.lb {
  float: left;
}
.rb {
  float: right;
}
body #site-logo {
  position: relative;
  top: 0;
  font-size: 100%;
  line-height: 1;
}
body #site-logo a img {
  vertical-align: middle;
}
body #main-nav {
  position: relative;
  bottom: 0;
}
body #header #searchform {
  position: relative;
  top: 0;
  width: auto;
}
.rb nav,
body #header #searchform {
  display: inline-block;
  vertical-align: middle;
}
body .social-widget {
  display: none;
}
body #main-nav li {
  padding: 15px 10px;
}
body #main-nav li a,
body #main-nav .current_page_item a, 
body #main-nav .current-menu-item a {
  color: #333;
  font-size: 16px;
  font-weight: 400;
  border-radius: 0;
  background-color: transparent;
  transition: 0.2s all linear;
}
body #main-nav .current_page_item a, 
body #main-nav .current-menu-item a {
  color: #FFBC13;
}
body #main-nav li a:hover,
body #main-nav .current_page_item a:hover, 
body #main-nav .current-menu-item a:hover  {
  color: #FFBC13;
}
body #main-nav li a {
  padding: 0;
}
body #content {
  padding: 60px 0 0;
}
body .themify_builder .home-row01 .row_inner {
  height: 60vh;
}
.home-row01 .col3-1 {
  background: #ffbc13;
  color: #333;
}
.home-row01 .col3-1 .tb-column-inner {
  padding: 0 50px;
}
.module.main-title {
  margin-bottom: 40px;
  padding-left: 10px; 
  border-left: 5px solid #333;
  color: #4a4a4a;
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
}
.module.main-title p {
  display: block;
  position: relative;
  padding-left: 25px;
  letter-spacing: 2px;
  line-height: 1;
}
.module.main-title p::before {
  content: "";
  display: block;
  background: rgba(74, 74, 74, 0.7);
  width: 20px;
  height: 1px;
  position: absolute;
  left: 0;
  top: calc( 50% - 2px );
}
.module.main-title p:last-of-type {
  margin-bottom: 0;
}
.module.main-title .module-title {
  padding: 5px 0 0;
  margin-bottom: 10px;
  color: #000; 
  font-size: 25px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  line-height: 1;
}
.module-feature.layout-icon-left.feature-content .module-feature-image {
  margin-right: 0px;
}
.module.feature-content .module-feature-title {
  margin-bottom: 5px;
  color: #333;
  font-size: 20px;
  font-weight: 500;  
  text-transform: uppercase;
}
.module-feature.size-small.feature-content .module-feature-chart-html5 {
  height: 65px !important;
}
.module.feature-content .module-feature-chart-html5 .chart-html5-inset {
  width: 90%;
  height: 90%;
  margin: 5% 10% 5% 0;
}
.module.feature-content.module-feature.size-small .module-feature-icon {
  font-size: 2.5em;
}
.module.feature-content {
  margin-bottom: 15px;
}
.module.feature-content:last-of-type {
  margin-bottom: 0;
}
body .module_row.fullwidth .row_inner,
body .row_inner {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}
body .module_row.fullwidth.full-row .row_inner {
  max-width: 100%;
}
.home-row02 {
  padding: 50px 0 45px 0;
  background: #f9f9f9;
}
.module-feature.home-info-sub .module-feature-title {
  margin-bottom: 5px;
  font-size: 17px;
}
.module.home-info-sub,
.module.home-info-sub p:last-of-type {
  margin-bottom: 0;
}
.module.home-info-sub {
  font-size: 13px;
}
.module.home-info-sub .module-feature.size-small .module-feature-icon {
  font-size: 2.3em;
}
.module.home-info-sub .chart-html5-circle {
  background: #fff;
}
.module.home-info-sub .module-feature-chart-html5 {
  width: 60px !important;
  height: 60px !important;
}
.home-row01 .col3-1 {
  background: #ffbc13;
  color: #333;
}
.home-row01 .col3-1 .tb-column-inner {
  padding: 0 50px;
}
.module.main-title {
  margin-bottom: 40px;
  padding-left: 10px; 
  border-left: 5px solid #333;
  color: #4a4a4a;
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
}
.module.main-title p {
  display: block;
  position: relative;
  padding-left: 25px;
  letter-spacing: 2px;
  line-height: 1;
}
.module.main-title p::before {
  content: "";
  display: block;
  background: rgba(74, 74, 74, 0.7);
  width: 20px;
  height: 1px;
  position: absolute;
  left: 0;
  top: calc( 50% - 2px );
}
.module.main-title p:last-of-type {
  margin-bottom: 0;
}
.module.main-title .module-title {
  padding: 5px 0 0;
  margin-bottom: 10px;
  color: #000; 
  font-size: 25px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  line-height: 1;
}
.module-feature.layout-icon-left.feature-content .module-feature-image {
  margin-right: 0px;
}
.module.feature-content .module-feature-title {
  margin-bottom: 5px;
  color: #333;
  font-size: 20px;
  font-weight: 500;  
  text-transform: uppercase;
}
.module-feature.size-small.feature-content .module-feature-chart-html5 {
  height: 65px !important;
}
.module.feature-content .module-feature-chart-html5 .chart-html5-inset {
  width: 90%;
  height: 90%;
  margin: 5% 10% 5% 0;
}
.module.feature-content.module-feature.size-small .module-feature-icon {
  font-size: 2.5em;
}
.module.feature-content {
  margin-bottom: 15px;
}
.module.feature-content:last-of-type {
  margin-bottom: 0;
}
body .module_row.fullwidth .row_inner,
body .row_inner {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}
body .module_row.fullwidth.full-row .row_inner {
  max-width: 100%;
}
.home-row02 {
  padding: 100px 0 95px 0;
  background: #f9f9f9;
}
.module-feature.home-info-sub .module-feature-title {
  margin-bottom: 5px;
  font-size: 17px;
}
.module.home-info-sub,
.module.home-info-sub p:last-of-type {
  margin-bottom: 0;
}
.module.home-info-sub {
  font-size: 13px;
}
.module.home-info-sub .module-feature.size-small .module-feature-icon {
  font-size: 2.3em;
}
.module.home-info-sub .chart-html5-circle {
  background: #fff;
}
.module.home-info-sub .module-feature-chart-html5 {
  width: 60px !important;
  height: 60px !important;
}
body .themify_builder .module_row.home-product-row {
  padding: 100px 0 70px;
  background: url(../../uploads/product-row-mask.png) repeat left top, url(../../uploads/product-row-bg.jpg) no-repeat center center;
  background-size: auto, cover;
}
.module.main-title.color-white {
  border-color: #fff;
  color: #ccc;
}
.module.main-title.color-white .module-title {
  color: #fff;
}
.module.main-title.color-white p::before {
  background: rgba(255,255,255,0.7);
}
.home-product-show .themify_builder_slider .slide-title {
  margin-bottom: 0;
  font-size: 15px;
  font-weight: 500;  
}
.home-product-show .slide-inner-wrap {
  position: relative;
}
.home-product-show .themify_builder_slider .slide-content {
  display: block;
  width: 94%;
  position: absolute;
  bottom: -10px;
  left: 3%;
  padding: 0;
  box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.3);
}
.home-product-show .slide-title a {
  display: block;
  overflow: hidden;
  padding: 10px 5px;
  background: #fff;
  transition: 0.2s all linear;
}
.home-product-show .slide-title a,
.home-product-show .slide-title a:visited,
.home-product-show .slide-title a:focus,
.home-product-show .slide-title a:active{
  color: #333;
}
.home-product-show .slide-inner-wrap:hover a,
.home-product-show .slide-title a:hover {
  background: #ffbc13;
  color: #fff;
}
.module-slider.home-product-show {
  margin-bottom: 0
}
body .module.home-product-show a:focus {
  outline: 0;
}
body .module.home-product-show a.carousel-prev, 
body .module.home-product-show a.carousel-next {
  padding: 9px 5px 9px 6px;
  border-radius: 50%;
  line-height: 0;
  top: 40%;
}
body .module.home-product-show.themify_builder_slider_wrap .carousel-prev:before, 
body .module.home-product-show.themify_builder_slider_wrap .carousel-next:before {
  width: 8px;
  height: 8px;
  position: relative;  
}
.home-row04 {
  padding: 100px 0 80px;
  background: #f9e7b9;
}
.module.home-why-us {
  margin: 30px 0;
  font-size: 20px;
  text-align: center;
}
.module.choise-us-icon {
  margin-bottom: 30px;
}
.module.choise-us-icon .module-icon {
  text-align: center;
  color: #FFBC13;  
}
.module.choise-us-icon .module-icon i {
  padding: 0;
  font-size: 35px;  
}
.home-row04 .subrow_inner .col3-1 {
  background: #fff;
  margin-bottom: 1.6%;
  padding: 30px 50px;
}
.module-text p:last-of-type {
  margin-bottom: 0;
}
.module.choise-us-text {
  text-align: center;
  font-size: 15px;
}
.module.choise-us-text .module-title {
  margin-bottom: 10px;
  font-size: 1em;
  text-align: center;
}
.home-row04 {
  padding: 100px 0 80px;
  background: #f9e7b9;
}
.module.home-why-us {
  margin: 30px 0;
  font-size: 20px;
  text-align: center;
}
.module.choise-us-icon {
  margin-bottom: 30px;
}
.module.choise-us-icon .module-icon {
  text-align: center;
  color: #FFBC13;  
}
.module.choise-us-icon .module-icon i {
  padding: 0;
  font-size: 35px;  
}
.home-row04 .subrow_inner .col3-1 {
  padding: 0;
  margin-bottom: 1.6%;  
}
.home-row04 .subrow_inner .col3-1 .tb-column-inner {
  padding: 30px 50px;
  background: #fff;
  position: relative;
  z-index: 2;
}
.module-text p:last-of-type {
  margin-bottom: 0;
}
.module.choise-us-text {
  text-align: center;
  font-size: 15px;
}
.module.choise-us-text .module-title {
  margin-bottom: 10px;
  font-size: 1em;
  text-align: center;
}
.home-row05 {
  padding: 100px 0 40px;
}
.module-slider.home-customer {
  max-width: 900px;
  padding-top: 30px;
  margin: 0 auto;
}
.home-customer .themify_builder_slider .slide-image {
  max-width: 50px;
  max-height: 50px;
  margin: 0 auto 10px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  overflow: hidden;
  transition: 0.2s all linear;
}
.module-slider.home-customer ul li {
  padding-top: 50px;
}
.module-slider.home-customer ul li .slide-content {
  visibility: hidden;
}
.module-slider.home-customer ul li:nth-child(2) {
  padding-top: 0;
}
.module-slider.home-customer ul li:nth-child(2) .slide-image {
  max-width: 100px;
  max-height: 100px;
}
.module-slider.home-customer ul li:nth-child(2) .slide-content {
  visibility: visible;
  display: block;
  width: 100%;
  margin-top: 0;
  padding: 0;
  font-size: 15px;
  font-style: italic;
}
.module-slider.home-customer ul li:nth-child(2) .slide-content p:last-of-type {
  display: block;
  width: 100%;
  margin-bottom: 0;
  padding: 0;
  position: relative;
  line-height: 1.5;
  box-sizing: border-box;
}
.module-slider.home-customer ul li:nth-child(2) .slide-content p:last-of-type::before,
.module-slider.home-customer ul li:nth-child(2) .slide-content p:last-of-type::after {
  color: #d9d9d9;
  font-size: 15px;
  font-family: FontAwesome;
}
.module-slider.home-customer ul li:nth-child(2) .slide-content p:last-of-type::before {
  content: "\f10d";
  margin-right: 10px;
}
.module-slider.home-customer ul li:nth-child(2) .slide-content p:last-of-type::after {
  content: "\f10e";
  margin-left: 10px;
}
.module-slider.home-customer ul li:nth-child(2)  .slide-title {
  font-size: 20px;
  font-style: normal;
}
body .home-customer.themify_builder_slider_wrap .carousel-prev:before, 
body .home-customer.themify_builder_slider_wrap .carousel-next:before {
  width: auto;
  height: auto;
  margin-left: 0;
  border: 0;
  -webkit-transform: rotateZ(0deg);
  -moz-transform: rotateZ(0deg);
  transform: rotateZ(0deg);
  font-family: FontAwesome;
  color: #333;
}
body .home-customer.themify_builder_slider_wrap .carousel-prev:before {
  content: "\f104";
}
body .home-customer.themify_builder_slider_wrap .carousel-next:before {
  content: "\f105";
}
body .home-customer.themify_builder_slider_wrap.themify_builder_slider_vertical .carousel-prev, 
body .home-customer.themify_builder_slider_wrap.themify_builder_slider_vertical .carousel-next {
  padding: 0;
  background: none;
}
body .home-customer.themify_builder_slider_wrap.themify_builder_slider_vertical .carousel-prev:focus, 
body .home-customer.themify_builder_slider_wrap.themify_builder_slider_vertical .carousel-next:focus {
  outline: none;
}
.home-row06 {
  padding: 100px 0;
  background: #f9e7b9;
}
.home-row06 .row_inner {
  padding: 50px 50px 50px 190px;
  background: url(../../uploads/handshake.jpg) no-repeat left top;
  background-color: #fff;
}
.module.home-custom-text {
  margin-bottom: 40px;
  font-size: 18px;
  text-align: center;
}
body a:focus {
  outline: none;
}
body .module.customer-bnr a img {
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
  -moz-filter: grayscale(1);
  -o-filter: grayscale(1);
  -ms-filter: grayscale(1);
  transition: 0.2s all linear;
}
body .module.customer-bnr a:hover img {
  filter: grayscale(0);
  -webkit-filter: grayscale(0);
  -moz-filter: grayscale(0);
  -o-filter: grayscale(0);
  -ms-filter: grayscale(0);
}
.footer-row01 {
  padding: 20px 0;
  background: #FFBC13;
}
.footer-row01 .tb-column-inner .tb-column-inner {
  border: 1px solid #333;
}
.module.ft-info-box .module-title {
  margin-bottom: 0;
  font-size: 20px;
}
.module.ft-info-box {
  padding: 15px 5px 15px 65px;
  position: relative;
  font-size: 17px;
}
.module.ft-info-box::before {
  display: block;
  color: #333;
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 35px;
  font-family: FontAwesome;
}
.module.ft-info-box.address::before {
  content: "\f1ad";  
}
.module.ft-info-box.phone::before {
  content: "\f095";  
}
.module.ft-info-box.email::before {
  content: "\f0e0";  
}
body #footerwrap {
  background: #0e0e0e;
}
body #footerwrap #footer.pagewidth {
  width: 1100px;
  border: 0;
  padding: 50px 0;  
}
body .copy {
  padding: 35px 3% 15px;
  background: url(../../uploads/footer-strip.png) repeat-x left top, url(../../uploads/yellow-box.jpg) repeat-x left top;
  background-size: auto, auto 15px;
  background-color: #000;
  color: #787878;
  font-size: 13px;
  font-weight: 500;
  text-align: center;
}
body .back-top {
  float: none;
  margin: 0;
  position: fixed;
  right: 20px;
  bottom: 80px;
  z-index: 1000;
}
body .back-top a {
  width: auto;
  height: auto;
  margin: 0;
  background: none;  
  font-size: 45px;
  text-indent: 0;
  border-radius: 0;
  line-height: 1;
  transition: 0.2s all ease-in-out;
}
body .back-top a,
body .back-top a:visited,
body .back-top a:focus,
body .back-top a:active,
body .back-top a:hover {
  color: #ffbc13;
}
body .back-top a:hover {
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  transform: translateY(-10px);
  background: none;
}
.footer-content {
  overflow: hidden;
}
.footer-content .ft-col4-1 {
  float: left;
  width: 22.6%;
  margin-left: 3.2%;
}
.footer-content .ft-col4-1.first {
  margin-left: 0;
}
.ft-title {
  padding-bottom: 5px;
  margin-bottom: 20px;
  position: relative;
  color: #e0e0e0;
  font-size: 20px;
  font-weight: bold;
}
.ft-title::before {
  content: "";
  width: 100px;
  height: 1px;
  position: absolute;
  left: 0;
  bottom: 0;
  background: #e0e0e0;
}
.ft-logo a img {
  vertical-align: top;
}
.ft-logo {
  margin-bottom: 15px;
  text-align: center;
}
.ft-text {
  color: #e0e0e0;
  font-size: 14px;
  text-align: justify;
}
body .footer-nav {
  margin: 0;  
}
body .footer-nav li {
  display: block;
  margin: 0;
  padding-left: 10px;
  position: relative;
  border-bottom: 1px dashed #333;
}
body .footer-nav li::before {
  content: "\f105";
  display: inline-block;
  margin-right: 10px;
  color: #e0e0e0;
  font-family: FontAwesome;
}
body .footer-nav li a {
  display: inline-block;
  padding: 10px 0 7px;
  font-size: 13px;
  text-transform: uppercase;
  transition: 0.2s all linear;
}
body .footer-nav li a,
body .footer-nav li a:visited,
body .footer-nav li a:focus,
body .footer-nav li a:active {
  color: #e0e0e0;
}
body .footer-nav li a:hover {
  text-decoration: none;
  color: #FFBC13;
}
ul.social-list {
  margin: 0;
}
ul.social-list li {
  display: inline-block;
  margin: 0 10px 0 0;
  list-style: none;
}
body ul.social-list li a {
  font-size: 30px;
  transition: 0.2s all linear;
}
body ul.social-list li a,
body ul.social-list li a:visited,
body ul.social-list li a:focus,
body ul.social-list li a:active {
  color: #fff;
}
body ul.social-list li a:hover {
  color: #FFBC13;
}
body ul.social-list li a img {
  vertical-align: top;
}
.home-row04 .col3-1:after, 
.home-row04 .col3-1:before {
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
  z-index: 1;
  background: #ffbc13;
}
.home-row04 .col3-1:after {
  left: -3px;
  bottom: -3px;
}
.home-row04 .subrow_inner .col3-1:before {
  right: -3px;
  top: -3px;
}
.home-row04 .subrow_inner .col3-1:hover:after, 
.home-row04 .subrow_inner .col3-1:hover:before {
  width: 50%;
  height: 50%;  
}
.subpage-row {
  padding-top: 85px;
  padding-bottom: 90px;
}
.company-row {
  background: url(../../uploads/product-row-mask.png) repeat left top, url(../../uploads/2f91e2f8b8b2b531cc85ef863719e4ceb24fc383_max-bender-262783.jpg) no-repeat center center;
  background-size: cover;
}
.module.subpage-title .module-title {
  margin-bottom: 0;
  color: #fff;
  font-size: 35px;
  text-transform: uppercase;
}
.module.subpage-title {
  color: #fff;
  font-size: 20px;
}
.company-row01 {
  padding: 50px 0 0;
  background: #f9f9f9;
}
.company-row02 {
  background: #f9f9f9;
}
.module.company-text {  
  text-align: justify;
}
body .module.company-icon {
  margin-bottom: 5px;
  position: absolute;
  right: 0;
  top: 0;
  text-align: center;  
}
.module.company-icon .module-icon.none i {
  padding: 0;
  color: #efefef;
  font-size: 100px;
}
.company-subrow .col2-1 {
  margin-bottom: 1.6%;
  padding: 15px 100px 20px 20px;
  box-shadow: 2px 2px 3px 0px #f3f3f3;
  background: #fff;
}
.module.company-sub-text {
  font-size: 17px;
  text-align: justify;
}
body .themify_builder .module_row.company-row03 {
  padding: 80px 0;
  background: url(../../uploads/yellow-box.jpg) repeat-x left center;
  background-size: auto 280px;
  background-color: #f9f9f9;
}
.module.company-bnr-img {
  margin-bottom: 8px;
}
.company-subcol-yellow {
  padding: 8px 8px 0;
  background: #ffbc13;
}
.module.company-feature-text {
  margin-bottom: 20px;
  color: #000;
  font-size: 30px;
}
.module.company-feature-subtext {
  color: #000;
  font-size: 19px;  
}
.company-row04 {
  padding-bottom: 50px;
  background: #f9f9f9;
}
.trophy-num .module-feature-image .module-feature-chart-html5 {
  background: #fff;
}
.module.trophy-num {
  margin-bottom: 30px;
}
.trophy-num.module-feature.layout-icon-top .module-feature-image {
  margin-bottom: 0;
}
.module-feature.trophy-num .module-feature-title {
  margin-bottom: 0;
  position: absolute;
  left: 50%;
  top: 34px;
  transform: translateX(-50%);
  font-size: 25px;
  font-weight: 300;
}
.trophy-num .module-feature-content {
  max-width: 180px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
.trophy-num .module-feature-content p:last-of-type {
  margin-bottom: 0;
}
.module.gmap iframe {
  vertical-align: top;
}
.product-row {
  background: url(../../uploads/product-row-mask.png) repeat left top, url(../../uploads/product-row-bg.jpg) no-repeat center center;
}
.product-row01 {
  padding: 100px 0 50px;
}
.product-post .loops-wrapper.grid4 .post {
  margin-bottom: 50px;
}
.product-post .post-image {
  margin-bottom: 10px;
}
body .product-post .post-image {
  position: relative;
}
body .product-post .post-image::before,
body .product-post .post-image::after {
  content: "";
  width: 0%;
  height: 0%;
  position: absolute;
  z-index: 1;
  background: #FFBC13;
  transition: 0.3s all ease-in-out;
}
body .product-post .post-image::before {
  right: -3px;
  top: -3px;
}
body .product-post .post-image::after {
  left: -3px;
  bottom: -3px;
}
body .product-post .post-image:hover::before,
body .product-post .post-image:hover::after {
  width: calc( 100% + 6px );
  height: calc( 100% + 6px );
}
body .product-post .post-image img {
  position: relative;
  z-index: 2;
}
.product-post .loops-wrapper.grid4 .post-title {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 500; 
  text-align: center;
  letter-spacing: 1px;
}
.product-post .post-title a {
  transition: 0.1s all ease-in;
}
.product-post .post-title a,
.product-post .post-title a:visited,
.product-post .post-title a:focus,
.product-post .post-title a:active {
  color: #333;
}
.product-post .post-title a:hover {
  color: #FFBC13;
  text-decoration: none;
}
.product-post .entry-content {
  text-align: justify;
  font-size: 15px;
  line-height: 1.6;
}
.product-post .entry-content p:last-of-type {
  margin-bottom: 0;
}
body .pagenav a, 
body .pagenav span {
  padding: 10px 5px 0;
  min-width: 24px;
  min-height: 24px;
  border-radius: 0;
}
body .pagenav a {
  background-color: #ffbc13;
  border: 1px solid #ffbc13;
  transition: 0.2s all linear;  
}
body .pagenav a,
body .pagenav a:visited,
body .pagenav a:focus,
body .pagenav a:active {
  color: #333;
}
body .pagenav a:hover {
  background: #fff;
}
.contact-row {
  background: url(../../uploads/product-row-mask.png) repeat left top, url(../../uploads/contact-row-bg.jpg) no-repeat center center;
  background-size: auto, cover;
}
.contact-row01 {
  position: relative;
  background: url(../../uploads/contact-row01-bg.jpg) no-repeat center center;
  background-size: cover;
}
.contact-row01::before {
  content: "";
  background: rgba(255,255,255,0.8);
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.contact-white-col {
  padding: 100px 50px 80px;
  background: #fff;
}
.module.contact-info .module-title {
  margin-bottom: 5px;
  color: #000;
  font-weight: normal;
}
.module.contact-info {
  padding: 20px 0 20px 50px;
  position: relative;
  font-size: 15px;
  font-weight: 500;
}
.module.contact-info::before {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  color: #000;
  font-size: 25px;
  font-family: FontAwesome;
}
.module.contact-info.address::before {
  content: "\f1ad";
}
.module.contact-info.phone::before {
  content: "\f095";
}
.module.contact-info.mail::before {
  content: "\f0e0";
}
.contact-form-data table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
.contact-form-data table tr td {
  display: block;
  width: 100%;
  padding: 7px 0 10px;
  font-size: 15px;
}
.contact-form-data table tr td:last-child {
  padding-top: 0px;
}
.contact-form-data table tr td:first-child span {
  color: #da2626;
  font-size: small;
}
body textarea, 
body input[type=text], 
body input[type=password], 
body input[type=search], 
body input[type=email], 
body input[type=url] {
  display: block;
  padding: 10px 15px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 0;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  transition: 0.2s all linear;
  font-weight: 300;
}
.submit-area {
  margin-top: 20px;
}
.submit-area input[type=submit] {
  display: block;
  max-width: 200px;
  width: 100%;
  margin: 0 auto;
  padding: 15px 20px;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border: 1px solid #333;
  background-color: transparent;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.2s all linear;
}
.submit-area input[type=submit]:hover {
  background: #333;
  color: #fff;
}
.service-row {
  background: url(../../uploads/product-row-mask.png) repeat left top, url(../../uploads/service-main-bg.jpg) no-repeat center center;
  background: auto, cover;
}
.service-row01 {
  padding: 40px 0 100px;
}
.service-col {
  margin-top: 40px;
  padding: 30px 20px;
  position: relative;
  transition: 0.2s all ease-in-out;
}
.service-col::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 10, 0.6);
}
.service-col.col01 {
  background: url(../../uploads/service-col01-bg.jpg) no-repeat center center;
  background-size: auto 100%;
  transition: 0.3s all linear;
}
.service-col.col02 {
  background: url(../../uploads/service-col02-bg.png) no-repeat center center;
  background-size: auto 100%;
  transition: 0.3s all linear;
}
.service-col.col03 {
  background: url(../../uploads/service-col03-bg.jpg) no-repeat center center;
  background-size: auto 100%;
  transition: 0.3s all linear;
}
.service-col.col01:hover,
.service-col.col02:hover,
.service-col.col03:hover {
  background-size: auto 120%;
}
.module.service-icons {
  margin-bottom: 20px;
}
.module.service-icons .module-icon {
  text-align: center;
}
.module.service-icons .module-icon i {
  padding: 10px;
  color: #fff;
  font-size: 50px;
  width: auto;
  height: auto;
  background: none;
}
.module.service-intro-text {
  color: #fff;
  text-align: justify;
}
.module.service-intro-text .module-title {
  text-align: center;
  margin-bottom: 10px;
}
.news-row {
  background: url(../../uploads/product-row-mask.png) repeat left top, url(../../uploads/news-main-bg.jpg) no-repeat center center;
  background-size: auto, cover;
}
.news-row01 {
  padding: 70px 0 50px;
}
.news-post .builder-posts-wrap.grid2-thumb .post {
  margin-bottom: 50px;
}
.news-post .entry-content p:last-of-type {
  margin-bottom: 0;
}
.news-post .loops-wrapper.grid2-thumb .post-image {
  max-width: 200px;
  width: 100%;
  margin: 0 15px 0 0;
}
.news-post .post-date {
  margin-bottom: 5px;
  line-height: 1.3;
  font-size: 13px;
}
.news-post .loops-wrapper.grid2-thumb .post-title {
  font-size: 18px;
  font-weight: 600;  
}
.news-post .post-title a {
  transition: 0.1s all linear;
}
.news-post .post-title a,
.news-post .post-title a:visited,
.news-post .post-title a:active,
.news-post .post-title a:focus {
  color: #333;
}
.news-post .post-title a:hover {
  text-decoration: none;
  color: #FFBC13;
}
.news-post .entry-content {
  font-size: 15px;
  text-align: justify;
  line-height: 1.6;
}
body.single .product-row {
  padding: 110px 0 50px;
}
body.single .pagewidth {
  max-width: 1100px;
  width: 100%;
}
body.single .post-image {
  margin-bottom: 20px;
  text-align: center;  
}
body.single .post-image a img {
  vertical-align: top;
}
body.single .category-san-pham .post-image {
  float: left;
  width: 30%;
}
body.single .category-san-pham .post-content {
  float: right;
  width: 66.8%;
}
body.single .category-san-pham .post-date {
  display: none;
}
body.single .entry-content table tr td {
  padding: 5px;
  border: 1px solid #333;
}
body.single .category-san-pham .entry-content table tr td {
  padding: 10px;
  border: 1px solid #333;
}
body.single .category-san-pham .entry-content table tr td:first-child {
  width: 25%;
  background: #ffbc13;
  color: #000
}
body.single .post:not(.category-san-pham) .single-contact-btn {
  display: none;
}
body.single .category-san-pham .single-contact-btn {
  display: block;
  margin-top: 30px;
  text-align: center;
}
body.single .category-san-pham .module_column .single-contact-btn .module-buttons a.ui.builder_button {
  display: block;
  width: 200px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background: #ffbc13;
  color: #333;
  font-size: 20px;
}
body.single ul.feature-posts-list {
  overflow: hidden;
}
body.single ul.feature-posts-list li {
  float: left;
  width: 22.6%;
  margin-left: 3.2%;
  clear: none;
  border: 0;
}
body.single ul.feature-posts-list li:first-child {
  margin-left: 0;
}
body.single .widget .feature-posts-list .post-img {
  display: block;
  margin: 0 auto 10px;
  float: none;
  max-width: 100px;
  width: 100%;
  text-align: center
}
body.single .widget .feature-posts-list .feature-posts-title {
  display: block;
  margin: 0;
  text-align: center;
}
body .feature-posts-list a.feature-posts-title {  
  font-size: 15px;
}
body .feature-posts-list a.feature-posts-title,
body .feature-posts-list a.feature-posts-title:visited,
body .feature-posts-list a.feature-posts-title:active,
body .feature-posts-list a.feature-posts-title:focus {
  color: #333;
}
body .feature-posts-list a.feature-posts-title:hover {
  color: #ffbc13;
}
body.error404 #content {
  padding: 200px 0;
  text-align: center;
  font-size: 20px;
}
body.error404 .page-title {
  text-align: center;
  font-size: 50px;
  font-weight: 500;
}
.newsletter label {
  color: #d9d9d9;
  font-size: 13px
}
.newsletter input[type=submit] {
  display: block;
  width: 100%;
  border-radius: 0;
  font-size: 15px;
  font-weight: 300;  
}
/* loading */
.loader {
  height: 58px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  width: 58px;
}
.loader span {
  background: rgba(217,101,0,0.98);
  display: block;
  height: 12px;
  opacity: 0;
  position: absolute;
  width: 12px;
  animation: load 4.6s ease-in-out infinite;
  -o-animation: load 4.6s ease-in-out infinite;
  -ms-animation: load 4.6s ease-in-out infinite;
  -webkit-animation: load 4.6s ease-in-out infinite;
  -moz-animation: load 4.6s ease-in-out infinite;
}
.loader span.block-1 {
  animation-delay: 1.06s;
  -o-animation-delay: 1.06s;
  -ms-animation-delay: 1.06s;
  -webkit-animation-delay: 1.06s;
  -moz-animation-delay: 1.06s;
  left: 0px;
  top: 0px;
}
.loader span.block-2 {
  animation-delay: 0.97s;
  -o-animation-delay: 0.97s;
  -ms-animation-delay: 0.97s;
  -webkit-animation-delay: 0.97s;
  -moz-animation-delay: 0.97s;
  left: 16px;
  top: 0px;
}
.loader span.block-3 {
  animation-delay: 0.87s;
  -o-animation-delay: 0.87s;
  -ms-animation-delay: 0.87s;
  -webkit-animation-delay: 0.87s;
  -moz-animation-delay: 0.87s;
  left: 31px;
  top: 0px;
}
.loader span.block-4 {
  animation-delay: 0.78s;
  -o-animation-delay: 0.78s;
  -ms-animation-delay: 0.78s;
  -webkit-animation-delay: 0.78s;
  -moz-animation-delay: 0.78s;
  left: 47px;
  top: 0px;
}
.loader span.block-5 {
  animation-delay: 0.69s;
  -o-animation-delay: 0.69s;
  -ms-animation-delay: 0.69s;
  -webkit-animation-delay: 0.69s;
  -moz-animation-delay: 0.69s;
  left: 0px;
  top: 16px;
}
.loader span.block-6 {
  animation-delay: 0.6s;
  -o-animation-delay: 0.6s;
  -ms-animation-delay: 0.6s;
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  left: 16px;
  top: 16px;
}
.loader span.block-7 {
  animation-delay: 0.51s;
  -o-animation-delay: 0.51s;
  -ms-animation-delay: 0.51s;
  -webkit-animation-delay: 0.51s;
  -moz-animation-delay: 0.51s;
  left: 31px;
  top: 16px;
}
.loader span.block-8 {
  animation-delay: 0.41s;
  -o-animation-delay: 0.41s;
  -ms-animation-delay: 0.41s;
  -webkit-animation-delay: 0.41s;
  -moz-animation-delay: 0.41s;
  left: 47px;
  top: 16px;
}
.loader span.block-9 {
  animation-delay: 0.32s;
  -o-animation-delay: 0.32s;
  -ms-animation-delay: 0.32s;
  -webkit-animation-delay: 0.32s;
  -moz-animation-delay: 0.32s;
  left: 0px;
  top: 31px;
}
.loader span.block-10 {
  animation-delay: 0.23s;
  -o-animation-delay: 0.23s;
  -ms-animation-delay: 0.23s;
  -webkit-animation-delay: 0.23s;
  -moz-animation-delay: 0.23s;
  left: 16px;
  top: 31px;
}
.loader span.block-11 {
  animation-delay: 0.14s;
  -o-animation-delay: 0.14s;
  -ms-animation-delay: 0.14s;
  -webkit-animation-delay: 0.14s;
  -moz-animation-delay: 0.14s;
  left: 31px;
  top: 31px;
}
.loader span.block-12 {
  animation-delay: 0.05s;
  -o-animation-delay: 0.05s;
  -ms-animation-delay: 0.05s;
  -webkit-animation-delay: 0.05s;
  -moz-animation-delay: 0.05s;
  left: 47px;
  top: 31px;
}
.loader span.block-13 {
  animation-delay: -0.05s;
  -o-animation-delay: -0.05s;
  -ms-animation-delay: -0.05s;
  -webkit-animation-delay: -0.05s;
  -moz-animation-delay: -0.05s;
  left: 0px;
  top: 47px;
}
.loader span.block-14 {
  animation-delay: -0.14s;
  -o-animation-delay: -0.14s;
  -ms-animation-delay: -0.14s;
  -webkit-animation-delay: -0.14s;
  -moz-animation-delay: -0.14s;
  left: 16px;
  top: 47px;
}
.loader span.block-15 {
  animation-delay: -0.23s;
  -o-animation-delay: -0.23s;
  -ms-animation-delay: -0.23s;
  -webkit-animation-delay: -0.23s;
  -moz-animation-delay: -0.23s;
  left: 31px;
  top: 47px;
}
.loader span.block-16 {
  animation-delay: -0.32s;
  -o-animation-delay: -0.32s;
  -ms-animation-delay: -0.32s;
  -webkit-animation-delay: -0.32s;
  -moz-animation-delay: -0.32s;
  left: 47px;
  top: 47px;
}




@keyframes load {
  0% {
    opacity: 0;
    transform: translateY(-97px);
  }
  15% {
    opacity: 0;
    transform: translateY(-97px);
  }
  30% {
    opacity: 1;
    transform: translateY(0);
  }
  70% {
    opacity: 1;
    transform: translateY(0);
  }
  85% {
    opacity: 0;
    transform: translateY(97px);
  }
  100% {
    opacity: 0;
    transform: translateY(97px);
  }
}

@-o-keyframes load {
  0% {
    opacity: 0;
    -o-transform: translateY(-97px);
  }
  15% {
    opacity: 0;
    -o-transform: translateY(-97px);
  }
  30% {
    opacity: 1;
    -o-transform: translateY(0);
  }
  70% {
    opacity: 1;
    -o-transform: translateY(0);
  }
  85% {
    opacity: 0;
    -o-transform: translateY(97px);
  }
  100% {
    opacity: 0;
    -o-transform: translateY(97px);
  }
}

@-ms-keyframes load {
  0% {
    opacity: 0;
    -ms-transform: translateY(-97px);
  }
  15% {
    opacity: 0;
    -ms-transform: translateY(-97px);
  }
  30% {
    opacity: 1;
    -ms-transform: translateY(0);
  }
  70% {
    opacity: 1;
    -ms-transform: translateY(0);
  }
  85% {
    opacity: 0;
    -ms-transform: translateY(97px);
  }
  100% {
    opacity: 0;
    -ms-transform: translateY(97px);
  }
}

@-webkit-keyframes load {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-97px);
  }
  15% {
    opacity: 0;
    -webkit-transform: translateY(-97px);
  }
  30% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
  70% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
  85% {
    opacity: 0;
    -webkit-transform: translateY(97px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(97px);
  }
}

@-moz-keyframes load {
  0% {
    opacity: 0;
    -moz-transform: translateY(-97px);
  }
  15% {
    opacity: 0;
    -moz-transform: translateY(-97px);
  }
  30% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
  70% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
  85% {
    opacity: 0;
    -moz-transform: translateY(97px);
  }
  100% {
    opacity: 0;
    -moz-transform: translateY(97px);
  }
}
.loading-area{
  width:100%;
  height:100%;
  position:fixed;
  left:0;
  top:0;
  z-index:9999;
  overflow:hidden;
}
.loading-box{
  width:100%;
  height:100%;
  background-color:#FFF;
  position:absolute;
  left:0;
  top:0;
  opacity:1;
  z-index:9999;
}
.loading-pic{
  width:100%;
  position:absolute;
  top:50%;
  z-index:99999;
  text-align:center;

  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/*18.2 loading - 2*/
.loading-cover,
.loading-srh-bar,
.loading-map {
  background:rgba(255,255,255,0.8);
  position:absolute;
  left:0;
  top:0;
  width:100%;
  height:100%;
  z-index:2;
}
.loading-cover .fa-spinner,
.loading-srh-bar .fa-spinner,
.loading-map .fa-spinner{
  position:absolute;
  left:50%;
  top:50%;
  margin:-10px;
  font-size:25px;
  color:#333;
}
/* /loading */
body a.hamburger {
  display: none; 
}
/*===================================================================
==============================     WIDTH 1024px     =================
===================================================================*/

@media screen and (max-width: 1024px) {
  body #footerwrap #footer.pagewidth,
  body .module_row.fullwidth .row_inner, body .row_inner {
    max-width: 94%; 
  }
  .home-row01 .col3-1 .tb-column-inner {
    padding: 30px 3%;
  }
  .module.feature-content .module-feature-chart-html5 .chart-html5-inset {
    margin-right: 0;
  }
  .module.feature-content .module-feature-title {
    font-size: 15px;
  }
  body .themify_builder .home-row01 .row_inner {
    height: auto;
  }
  .home-row02,
  .home-row06 {
    padding: 50px 0;
  }
  body .themify_builder .module_row.home-product-row {
    padding: 50px 0 30px;
  }
  .home-row04 {
    padding: 50px 0 40px; 
  }
  .home-row05,
  .product-row01 {
    padding: 50px 0 0; 
  }
  .module.ft-info-box::before {
    font-size: 30px; 
  }
  .module.ft-info-box {
    font-size: 15px;
  }
  .contact-white-col {
    padding: 50px 50px 30px; 
  }
  .service-row01 {
    padding: 0 0 50px; 
  }
  .news-row01 {
    padding: 50px 0 20px; 
  }
}/* #1024px */
/*===================================================================
==============================     WIDTH 939px     =================
===================================================================*/

@media screen and (max-width: 939px) {
  body a.hamburger {
    display: block;
    left: initial;
    right: 3%;
    top: 10px;
  }
  body.mobile_menu_active .mobile-button {
    display: none; 
  }
  body.mobile_menu_active #header {
    padding-top: 0; 
  }
  body .fat-nav ul {
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  body .fat-nav li {
    font-size: 1.2em;
  }
  body.tb_responsive_mode .tb_grid_classes>.module_column {
    margin-top: 0;
  }
  .home-slide-row {
   	height: 300px; 
  }
  .module.feature-content .module-feature-chart-html5 .chart-html5-inset {
    margin: 0;
  }
  .home-row04 .subrow_inner .col3-1 .tb-column-inner {
    padding: 20px 10px;
  }
  .module.ft-info-box .module-title {
    font-size: 15px;
  }
  .module.ft-info-box::before {
    position: relative;
    left: 0;
    top: 0;
    transform: translateY(0);
    text-align: center;
  }
  .module.ft-info-box {
    padding: 10px;
    text-align: center;
    font-size: 14px;
  }
  .ft-title {
    font-size: 15px;
  }
  .company-subrow .col2-1 {
    padding: 15px;
  }
  .module.company-feature-text {
    margin-bottom: 10px;
    font-size: 23px;
  }
  .news-post .loops-wrapper.grid2-thumb .post-image {
    float: none;
    max-width: 100%;
    margin: 0 0 10px;
  }
}/* #939px */
/*===================================================================
==============================     WIDTH 680px     =================
===================================================================*/

@media screen and (max-width: 680px) {
  .module.company-image {
    margin-bottom: 30px;
  }
  .module.main-title {
    margin-bottom: 25px;
    font-size: 15px;
  }
  .feature-content.module-feature.layout-icon-left .module-feature-image {
    float: none;
    max-width: 100%;
    margin: 0 0 10px;
  }
  .module.feature-content .module-feature-title {
    text-align: center;
  }
  .module-feature.layout-icon-left.feature-content {
    text-align: center;
  }
  .module.feature-content {
    margin-bottom: 0;
  }
  .module-feature.layout-icon-left.feature-content .module-feature-image {
   	margin-bottom: 0; 
  }
  .module.home-info-sub {
    margin-bottom: 30px;
  }
  .home-row02 {
    padding-bottom: 10px;
  }
  .home-product-show .themify_builder_slider .slide-title {
    font-size: 13px;
  }
  .module.main-title .module-title {
  	font-size: 20px;
  }
  .module.home-info-sub {
    font-size: 15px;
  }
  .module.home-why-us {
    font-size: 16px;
  }
  .module-slider.home-customer ul li:nth-child(2) .slide-title {
   	font-size: 16px; 
  }
  .module-slider.home-customer ul li {
    padding-top: 0;
  }
  .home-customer .themify_builder_slider .slide-image {
    max-width: 100px;
    max-height: initial;
  }
  .module-slider.home-customer ul li .slide-content {
    visibility: visible;
  }
  .home-customer .themify_builder_slider .slide-image {
    transition: none;
  }
  .home-row06 .row_inner {
    padding: 20px;
    background: none;
  }
  .module.customer-bnr {
    margin-bottom: 20px;
  }
  .footer-row01 .tb-column-inner .tb-column-inner {
    margin-bottom: 10px;
  }
  .footer-content .ft-col4-1 {
    float: none;
    width: 100%;
    margin-left: 0;
    margin-bottom: 30px;
  }
  .ft-title {
    text-align: center;
  }
  .ft-title::before {
  	left: 50%;
    transform: translateX(-50%);
  }
  body .back-top {
   	bottom: 20px; 
  }
  .module.subpage-title .module-title {
    font-size: 20px;
  }
  .subpage-row {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .module.company-text {
    margin-bottom: 30px;
  }
  .module.company-sub-text {
    font-size: 15px;
  }
  .module.company-icon .module-icon.none i {
    font-size: 50px;
  }
  body .module.company-icon {
    right: 5px;
    top: 5px;
  }
  body .themify_builder .module_row.company-row03 {
    padding: 50px 0;
    background: none;
    background-color: #ffbc13;
    margin: 50px 0;
  }
  .module.company-feature-subtext {
    font-size: 15px;
  }
  .module.company-feature-text {
    margin-bottom: 0;
    font-size: 20px;
  }
  .company-row04 {
    padding-top: 40px;
    padding-bottom: 20px;
  }
  .product-post .post-image {
    text-align: center;
  }
  .product-post .loops-wrapper.grid4 .post-title {
    font-size: 16px;
  }
  .product-post .loops-wrapper.grid4 .post {
    margin-bottom: 40px;
  }
  .module.contact-info::before {
    left: 10px;
  }
  .contact-white-col {
    padding: 20px 20px 0;
  }
  .contact-row01 {
    padding-bottom: 40px;
  }
  body.single #content {
    padding: 40px 3% 0;
  }
  body.single #content {
    padding: 40px 3%;
  }
  body.single .category-san-pham .post-image {
    float: none;
    width: 100%;
  }
  body.single .category-san-pham .post-content {
    float: none;
    width: 100%;
  }
  .post-title {
    font-size: 18px;
  }
  body.single .category-san-pham .entry-content table tr td {
    display: block;
    width: 100%;
    box-sizing: border-box;
  }
  body.single .category-san-pham .entry-content table tr td:first-child {
    width: 100%;
    border-top: 0;
    border-bottom: 0;
  }
  body.single .category-san-pham .entry-content table tr:first-child td:first-child {
    border-top: 1px solid #333;
  }
  body.single ul.feature-posts-list li {
    float: left;
    width: 48.4%;
  }
  body.single ul.feature-posts-list li:nth-child(2n+1) {
    margin-left: 0;
    clear: left;
  }
}/* #680px */















































